<div class="ui middle aligned center aligned grid">
    <div class="ui column left aligned success message">
        <div class="header">Password Reset</div>
        <p>Link to reset your Password is emailed to {{email}}</p>
    </div>
</div>