<div class="ui middle aligned center aligned grid">
    <div class="ui column left aligned warning message">
        <div class="header">Server Error !!</div>
        <p>We are sorry, currently we are facing issues with our server. Please try again or Contact your school Administrator.</p>
    </div>
</div>