<div class="ui container">
    <div class="ui attached unstackable three steps">
        <div class="completed step">
            <i class="user icon"></i>
            <div class="content">
                <div class="title">Administrator</div>
                <div class="description">Enter administrator Details</div>
            </div>
        </div>
        <div class="completed step">
            <i class="university icon"></i>
            <div class="content">
                <div class="title">My School</div>
                <div class="description">Enter school details</div>
            </div>
        </div>
        <div class="completed step">
            <i class="success icon"></i>
            <div class="content">
                <div class="title">Manage My School</div>
                <div class="description">Start managing your school</div>
            </div>
        </div>
    </div>
    <div class="ui attached segment">
        <div class="ui positive message">
            <div class="header">
                Yay, You are all set!!
            </div>
        </div>
        <div class="field">
            <input type="button" id="goToDashboard" class="ui fluid large green button" value="Start Managing Your School">
        </div>
    </div>
</div>

<script src="/assets/js/signUpSuccess.js"></script>